/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #948f92;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}
h1 
{
  color: rgb(31, 21, 2);
  font-size: 200%;
}
/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content
{
  background-color: #eab0c9;;
  width: 850px; 
  min-height: 400px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #c41b64;
  font-size: 20px;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 15px;
  border: solid 1px #c41b64;
  background-color: #f9edc3;;
}

p 
{
  font-family: "comic sanes";
  text-indent: 20px;
  margin-left: 10px;
}


