/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #5665a7;
    background-color: #d0cab4;
  }
  body {
    background-color: #948f92;
  }

  h1 
  {
    color: rgb(31, 21, 2);
    font-size: 200%;
  }
  p 
  {
    font-family: "comic sanes";
    text-indent: 20px;
    margin-left: 10px;
  }

  #content
  {
    background-color: #6e78a5;
    width: 850px; 
    min-height: 400px;
    padding: 10px;
    margin: 10px;
    border: solid 1px #d0cab4;
    font-size: 20px;
  }